<div class=" recipe recipe-list-item">
    <div class="recipe-cover">
        <img src="https://placehold.co/1280x720.png" alt="Temporary">
    </div>
    <div class="recipe-title-container">
        <h2 class="recipe-title">
            Lorem ipsum dolor sit amet.
        </h2>
    </div>

    <div class="recipe-author">
        <span class="recipe-author-item">
            <i class="fa-solid fa-user"></i>
            Nickolas Dos Santos Cremasco
        </span>
        <span class="recipe-author-item">
            <i class="fa-solid fa-calendar-alt"></i>

        </span>
        <span class="recipe-author-item">
            <a href="/recipes/category/cafe-da-manhã/">
                <i class="fa-solid fa-layer-group"></i>
                <span>Café da manhã</span>
            </a>

        </span>

    </div>

    <div class="recipe-content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore debitis fugiat dolore quas
            praesentium qui. Doloribus enim quibusdam reiciendis beatae illum maiores atque deleniti, eius
            nostrum molestiae vero optio. Quia!</p>
    </div>

    <div class="recipe-meta-container">
        <div class="recipe-meta recipe-preparation">
            <h3 class="recipe-meta-title">
                <i class="fa-solid fa-stopwatch"></i>Preparo
            </h3>
            <div class="recipe-meta-text">
                0 Minutos
            </div>
        </div>
        <div class="recipe-meta recipe-servings">
            <h3 class="recipe-meta-title">
                <i class="fa-solid fa-pizza-slice"></i>Porções
            </h3>
            <div class="recipe-meta-text">
                0 Porções
            </div>
        </div>
    </div>
        <footer class="recipe-footer">
            <a href="/recipes" class="recipe-read-more button button-dark button-full-width">
                <i class="fa-solid fa-eye"></i>
                <span>Ver Mais...</span>
            </a>
            
        </footer>


    
</div>